<div class="credentials" ng-class="{loading: !isLoaded()}">

    <!-- Basic Credential Profile -->
    <div class="settings section credentials">
        <div class="form">
            <table class="fields">
                <tr>
                    <th>{{'SETTINGS_CREDENTIALS.FIELD_HEADER_CREDENTIAL_USERNAME' | translate}}</th>
                    <td><input ng-model="credentialProfile.username" type="text"></td>
                </tr>
                <tr>
                    <th>{{'SETTINGS_CREDENTIALS.FIELD_HEADER_CREDENTIAL_PASSWORD' | translate}}</th>
                    <td><input ng-model="credentialProfile.password" type="password"></td>
                </tr>
                <tr>
                    <th>{{'SETTINGS_CREDENTIALS.FIELD_HEADER_CREDENTIAL_DOMAIN' | translate}}</th>
                    <td><input ng-model="credentialProfile.domain" type="text"></td>
                </tr>
                <tr>
                    <th>{{'SETTINGS_CREDENTIALS.FIELD_HEADER_CREDENTIAL_SSH_KEY' | translate}}</th>
                    <td><textarea ng-model="credentialProfile.ssh_key"></textarea></td>
                </tr>
                <tr>
                    <th>{{'SETTINGS_CREDENTIALS.FIELD_HEADER_CREDENTIAL_SSH_PASSPHRASE' | translate}}</th>
                    <td><input ng-model="credentialProfile.ssh_passphrase" type="password"></td>
                </tr>
            </table>
        </div>
        
        <!-- Form action buttons -->
        <div class="action-buttons">
            <button class="credential-update" ng-click="updateCredentialProfile()">{{'SETTINGS_CREDENTIALS.ACTION_UPDATE_CREDENTIAL_PROFILE' | translate}}</button>
        </div>
    </div>

</div>
